body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #ADADAD;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23b7b7b7' points='800 100 0 200 0 800 1600 800 1600 200'/%3E%3Cpolygon fill='%23c2c2c2' points='800 200 0 400 0 800 1600 800 1600 400'/%3E%3Cpolygon fill='%23cccccc' points='800 300 0 600 0 800 1600 800 1600 600'/%3E%3Cpolygon fill='%23d6d6d6' points='1600 800 800 400 0 800'/%3E%3Cpolygon fill='%23e0e0e0' points='1280 800 800 500 320 800'/%3E%3Cpolygon fill='%23ebebeb' points='533.3 800 1066.7 800 800 600'/%3E%3Cpolygon fill='%23F5F5F5' points='684.1 800 914.3 800 800 700'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 70px;
}

.heading > p {
    margin: 10px;
}

input[type=text] {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    width: 60%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    background-color: #dde7f4;
    color: rgba(60, 66, 82, 0.6);
    text-align: center;
    transition: 0.2s ease-in-out width;
}

#form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-button {
    margin-top: 10px;
    padding: 5px;
    font-weight: 300;
    transition: 0.2s ease-in-out all;
    border-radius: 5px;
    background-color: rgba(192, 187, 187, 0.219);
}

.custom-button:hover {
    background-color: rgba(179, 177, 177, 0.74);
    cursor: pointer;
}

input[type=text]:hover {
    width: 90%;
}

input[type=text]:focus {
    width: 90%;
}

.custom-input {
    display: none;
    margin-top: 10px;
    transition: 0.2s ease-in-out all;
}

.result {
    text-align: center;
    font-size: 1.5em;
}

@media (max-width: 750px) {
    .heading {
        font-size: 60px;
    }

    input[type=text] {
        font-size: 1.3em;
        height: 45px;
        padding: 9px;
    }
}

@media (max-width: 565px) {
    .heading {
        font-size: 40px;
    }

    input[type=text] {
        font-size: 1em;
        height: 40px;
        padding: 8px;
    }

    .result {
        font-size: 1.2em;
    }
}

@media (max-width: 425px) {
    .heading {
        font-size: 30px;
    }

    input[type=text] {
        font-size: 0.9em;
        height: 35px;
        padding: 7px;
    }

    .result {
        font-size: 0.9em;
    }
}